################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreLayer/bin
/DataLayer/bin
/Personal-Blog-Web/bin
/Personal-Blog-Web/.vs/
/.vs
/Personal-Blog-Web/obj
/CoreLayer/obj
/DataLayer/obj
/Personal-Blog-Web/obj/
/CoreLayer/obj/
/DataLayer/obj/
/CoreLayer/obj/Debug/net8.0/ref/CoreLayer.dll
/CoreLayer/obj/Debug/net8.0/refint/CoreLayer.dll
/CoreLayer/obj/Debug/net8.0/CoreLayer.AssemblyInfo.cs
/DataLayer/obj/Debug/net8.0/ref/DataLayer.dll
/DataLayer/obj/Debug/net8.0/refint/DataLayer.dll
