################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreLayer/bin/Debug/net8.0
/DataLayer/bin/Debug/net8.0
