@import '_content/DataLayer/DataLayer.bundle.scp.css';

/* _content/CoreLayer/Component1.razor.rz.scp.css */
.my-component[b-qn4iv6ak0f] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
